/*==================================================
ENFERMEDADES RESPIRATORIAS
==================================================*/

.enfermedades{

    padding:120px 0;

    background:var(--bg-light);

}

.enfermedades-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

    margin-top:60px;

}

.enfermedad-card{

    background:var(--white);

    border-radius:22px;

    overflow:hidden;

    box-shadow:var(--shadow-card);

    transition:var(--transition);

}

.enfermedad-card:hover{

    transform:translateY(-10px);

    box-shadow:var(--shadow-lg);

}

.enfermedad-img{

    height:230px;

    overflow:hidden;

}

.enfermedad-img img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.5s;

}

.enfermedad-card:hover img{

    transform:scale(1.08);

}

.enfermedad-content{

    padding:30px;

}

.enfermedad-content h3{

    color:var(--text-title);

    margin-bottom:15px;

    font-size:1.5rem;

}

.enfermedad-content p{

    color:var(--text-body);

    line-height:1.8;

    margin-bottom:25px;

}

.enfermedad-btn{

    display:inline-flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:var(--color-primary);

    font-weight:600;

}

.enfermedad-btn:hover{

    color:var(--color-secondary);

}